<accordion [isAnimated]="true">
    <accordion-group heading="Jak działa aplikacja?">
        <p>
          Po dołączeniu do grupy oraz zainstalowaniu rozszerzenia, każde przejście przez mapę wysyła do 
          aplikacji informację o tym oraz zapisuje dokładny czas zdarzenia. Następnie rozsyła ją do 
          innych członków grupy którzy w czasie rzeczywistym informowani są o tym przez kogo dana mapa 
          została sprawdzona.
        </p>
      </accordion-group>
    <accordion-group heading="Mam problem / pytanie">
      <p>
        Napisz wiadomość na dc do neeyo_
      </p>
    </accordion-group>
    <accordion-group heading="Nie mogę utworzyć grupy">
      <p>
        Na chwilę obecną, żeby stworzyć grupę należy skontaktować się na dc z podaniem nazwy grupy, 
        nazwy serwera oraz pseudonimu (tu na stronie) właściciela grupy
      </p>
    </accordion-group>
    <accordion-group heading="Mam propozycję zmiany w wyglądzie / funkcjonowaniu aplikacji">
      <p>
        Napisz wiadomość na dc do neeyo_
      </p>
    </accordion-group>
    <accordion-group heading="Aplikacja źle wyświetla się na urządzeniach mobilnych">
      <p>
        Aplikacja słuzy przede wszystkim jako panel zarządzania, na który zagląda się od czasu do czasu, 
        przez co problem ma mniejszy priorytet ale zostanie kiedys rozwiązany
      </p>
    </accordion-group>
    <accordion-group heading="Dodano mnie do grupy, ale nie widzę jej w zakładce &quot;Grupy&quot;">
        <p>
          Odswież stronę, jeśli mimo to nie widzisz grupy, napisz na dc do neeyo_
        </p>
      </accordion-group>
  </accordion>