@if (group) {
    <div class="row">
        <div class=" col-auto ms-auto">
            <div class="btn-group" role="group">
                <button 
                    routerLink="/groups/{{group.id}}" 
                    type="button" 
                    class="btn btn-dark btn-sm"
                    disabled>
                    Szczegóły
                </button>
                <button 
                    routerLink="/groups/{{group.id}}/timers" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Timery
                </button>
                <button 
                    routerLink="/groups/{{group.id}}/members" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Użytkownicy
                </button>
            </div>
            
        </div>
    </div>
    <div class="row">
        <h4>{{group.groupName}}</h4>
        <h6>Użytkownicy {{group.membersCount}}/30</h6>
    </div>
}