@if (group) {
    <div class="row">
        <div class=" col-auto ms-auto">
            <div class="btn-group" role="group">
                <button 
                    routerLink="/groups/{{group.id}}" 
                    type="button" 
                    class="btn btn-dark btn-sm"
                    disabled>
                    Szczegóły
                </button>
                <button 
                    routerLink="/groups/{{group.id}}/timers" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Timery
                </button>
                <button 
                    routerLink="/groups/{{group.id}}/members" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Użytkownicy
                </button>
            </div>
            
        </div>
    </div>
    <div class="row">
        <h4>Nazwa grupy: {{group.groupName}}</h4>
        <h4>Nazwa serwera: {{group.serverName}}</h4>
        <h4>Grupa istnieje od: {{group.createdAt.toString().substring(0, 10)}}</h4>
        <h4>Wlaściciel grupy: {{group.owner.knownAs}}</h4>
        <h4>Liczba użytkowników {{group.membersCount}}</h4>
    </div>
}