table tbody tr:hover{
    cursor: pointer;
}

.my-pagination::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color:black !important;
    border-color: darkgrey;
}

.my-pagination::ng-deep .page-item .page-link {
    color: black;
}