@if (group()) {
    <div class="row">
        <div class="col-auto ms-auto">
            <div class="btn-group" role="group">
                <button 
                    routerLink="/groups/{{group()?.id}}" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Szczegóły
                </button>
                <button 
                    routerLink="/groups/{{group()?.id}}/timers" 
                    type="button" 
                    class="btn btn-dark btn-sm"
                    disabled>
                    Timery
                </button>
                <button 
                    routerLink="/groups/{{group()?.id}}/members" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Użytkownicy
                </button>
            </div>
            
        </div>
    </div>
    <div class="row mt-2">
        <alert type="danger">
            Na chwilę obecną dane nie są synchornizowane z serwerem, odśwież stronę, przełącz się 
            między zakładkami w aplikacji lub kliknij 
            <a class="text-decoration-none" 
               style="cursor: pointer;" 
               (click)="loadTimers()"
            >
                TUTAJ ABY ODSWIEŻYĆ DANE
            </a>
        </alert>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-4">Mapa</th>
                    <th scope="col" class="col-3">Ostatnio</th>
                    <th scope="col" class="col-3">Gracz</th>
                    <th scope="col" class="col-1">Okolica</th>
                    <th scope="col" class="col-1">Heros</th>
                </tr>
            </thead>
            <tbody>
                @for (timer of this.timerService.timers(); track $index) {
                <tr class="align-middle">
                    <td>{{timer.mapName}}</td>
                    <td>{{timer.updated | timeago}}</td>
                    <td>{{timer.updatedBy}}</td>
                    <td>{{timer.mapAreaId}}</td>
                    <td>{{timer.heroId}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}