@if (group()) {
    <div class="row">
        <div class="col-auto me-auto">
            <form #AddOrRemoveMemberForm="ngForm" (ngSubmit)="addMember()" autocomplete="off">
                <div class="input-group mb-3">
                    <input 
                        type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="model.username"
                        placeholder="Nazwa użytkownika"
                    >
                    <button class="btn btn-dark" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
        <div class="col-auto ms-auto">
            <div class="btn-group" role="group">
                <button 
                    routerLink="/groups/{{group()?.id}}" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Szczegóły
                </button>
                <button 
                    routerLink="/groups/{{group()?.id}}/timers" 
                    type="button" 
                    class="btn btn-dark btn-sm">
                    Timery
                </button>
                <button 
                    routerLink="/groups/{{group()?.id}}/members" 
                    type="button" 
                    class="btn btn-dark btn-sm"
                    disabled>
                    Użytkownicy
                </button>
            </div>
            
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-6">Nazwa użytkownika</th>
                    <th scope="col" class="col-2">Pseudonim</th>
                    <th scope="col" class="col-2">Ranga</th>
                    <th scope="col" class="col-2">Akcja</th>
                </tr>
            </thead>
            <tbody>
                @for (member of groupMembers(); track member.id) {
                <tr class="align-middle">
                    <td>{{member.username}}</td>
                    <td>{{member.knownAs}}</td>
                    @if (member.username == group()?.owner?.username) {
                        <td>Admin</td>
                    } @else if (member.isModerator) {
                        <td>Moderator</td>
                    } @else {
                        <td>Użytkownik</td>
                    }
                    <td>
                        @if (member.username == group()?.owner?.username) {
                            <button class="btn btn-warning btn-sm" disabled>
                                <i class="fa-solid fa-crown fa-sm"></i>
                            </button>
                        }
                        @else {
                            @if (role == "owner" || (role == "moderator" && member.isModerator == false)){
                                <button class="btn btn-danger btn-sm me-1" 
                                        (click)="removeMember(member.username)"
                                        tooltip="Usuń członka grupy"
                                >
                                    <i class="fa-solid fa-trash fa-sm"></i>
                                </button>
                            }
                            @if (role == "owner") {
                                @if (member.isModerator) {
                                    <button class="btn btn-dark btn-sm me-1" 
                                            (click)="removeModerator(member.username)"
                                            tooltip="Usuń rangę moderatora grupy"
                                    >
                                        <i class="fa-solid fa-angles-down fa-sm"></i>
                                    </button>
                                } @else {
                                    <button class="btn btn-dark btn-sm me-1" 
                                            (click)="addModerator(member.username)"
                                            tooltip="Dodaj rangę moderatora grupy"
                                    >
                                        <i class="fa-solid fa-angles-up fa-sm"></i>
                                    </button>
                                }
                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}