<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="col-4">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off">
        <h2 class="text-center text-dark">Zmień hasło</h2>
        <hr>

        <app-text-input
            [formControl]="$any(changePasswordForm.controls['oldPassword'])"
            [label]="'Stare hasło'"
            [type]="'password'"
        ></app-text-input>

        <app-text-input
            [formControl]="$any(changePasswordForm.controls['newPassword'])"
            [label]="'Nowe hasło'"
            [type]="'password'"
        ></app-text-input>

        <app-text-input
            [formControl]="$any(changePasswordForm.controls['confirmNewPassword'])"
            [label]="'Powtórz nowe hasło'"
            [type]="'password'"
        ></app-text-input>

        @if (validationErrors) {
            <div class="alert alert-danger text-start">
                <ul>
                    @for (error of validationErrors; track $index) {
                        <li>{{error}}</li>
                    }
                </ul>
            </div>
        }

        <div class="form-group text-center">
            <button class="btn btn-dark me-2" 
                    type="submit"
                    [disabled]="!changePasswordForm.valid">Zmień hasło</button>
        </div>
    </form>
    </div>
</div>