<div class="container mt-3">
    <form #form="ngForm" (ngSubmit)="loadUsers()" class="d-flex mb-3">
        <div class="d-flex mx-2">
          <label class="col-form-label">Użytkownik</label>
          <input type="text" 
              class="form-control ms-1" 
              style="width: 170px;"
              name="knownAs"
              [(ngModel)]="adminService.userParams().knownAs"
          >
        </div>
  
        <div class="d-flex mx-2">
            <label class="col-form-label">Wybierz:</label>
            <select name="role"
                class="form-select ms-1" 
                style="width:170px"
                [(ngModel)]="adminService.userParams().role"
            >
            @for (role of roleList; track role.value) {
                <option [value]="role.value">{{role.display}}</option>
            }
            </select>
        </div>
  
        <button class="btn btn-dark ms-1" type="submit">Filtruj</button>
        <button (click)="resetFilters()" class="btn btn-dark ms-1" type="button">Reset</button>
  
    </form>
  </div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-2">Id</th>
        <th scope="col" class="col-4">Użytkownik</th>
        <th scope="col" class="col-4">Role</th>
        <th scope="col" class="col-2">Akcja</th>
      </tr>
    </thead>
    <tbody>
        @for (user of adminService.paginatedResultUser()?.items; track user.id) {
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.knownAs}}</td>
                <td>{{user.roles}}</td>
                <td>
                    @if (user.roles.includes("Admin")) {
                        <button class="btn btn-warning btn-sm" disabled>
                            <i class="fa-solid fa-crown fa-sm"></i>
                        </button>
                    } @else if (user.roles.includes("Moderator")) {
                        <button class="btn btn-dark btn-sm me-1" 
                                (click)="editUser(user.id, 'false')"
                                tooltip="Usuń rangę moderatora"
                        >
                            <i class="fa-solid fa-angles-down fa-sm"></i>
                        </button>
                    } @else if (!user.roles.includes("Moderator")) {
                        <button class="btn btn-dark btn-sm me-1" 
                                (click)="editUser(user.id, 'true')"
                                tooltip="Dodaj rangę moderatora"
                        >
                            <i class="fa-solid fa-angles-up fa-sm"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
  </table>

  @if (adminService.paginatedResultUser()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" 
                    [totalItems]="adminService.paginatedResultUser()?.pagination!.totalItems"
                    [itemsPerPage]="adminService.paginatedResultUser()?.pagination!.itemsPerPage"
                    (pageChanged)="pageChanged($event)"
                    [(ngModel)]="adminService.paginatedResultUser()?.pagination!.currentPage"
                    [maxSize]="10"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"
                    class="my-pagination">
        </pagination>   
    </div>
}