<div>
      <h1 class="text-center py-2">Heroes tracker</h1>
      <p class="lead">
        Aplikacja służąca do integracji graczy w zakresie eksploracji zakamarków świata
        gry MMORPG Margonem w poszukiwaniu rzadkich potworów eventowych.
      </p>
      <p class="lead">
        Jak rozpocząć korzystanie z aplikacji?
      </p>
      <ul class="lead">
        <li>
            Stwórz własną grupę (na chwilę obecną tylko poprzez kontakt na dc)
        </li>
        <li>
            Dodaj członków klanu lub spoza niego do grupy
        </li>
        <li>
            Zainstaluj rozszerzenie do gry
        </li>
        <li>
            Wyrusz na poszukiwania
        </li>
      </ul>
      
      <p class="lead text-center">
        <button routerLink="/info" 
                class="btn btn-lg btn-secondary fw-bold bg-dark me-2"
        >
          Dowiedz się więcej
        </button>
        <!-- <a class="btn btn-lg btn-secondary fw-bold bg-dark">
            Skontaktuj się
            <i class="fa-brands fa-discord fa-xl ms-1"></i>
        </a> -->
        <button routerLink="/groups" 
                class="btn btn-lg btn-secondary fw-bold bg-dark me-2"
        >
            Twoje grupy
        </button>
      </p>
  </div>