<div class="container mt-3">
  <form #form="ngForm" (ngSubmit)="loadGroups()" class="d-flex flex-wrap mb-3">
        <div class="d-flex col-2">
            <label class="col-form-label">Członkowie od:</label>
            <input type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="minMembers"
                [(ngModel)]="adminService.groupParams().minMembers"
            >
        </div>

        <div class="d-flex ms-2 col-3">
            <label class="col-form-label">Nazwa grupy</label>
            <input type="text" 
                class="form-control ms-1" 
                style="width: 150px;"
                name="groupName"
                [(ngModel)]="adminService.groupParams().groupName"
            >
        </div>

        <div class="d-flex col-4">
            <label class="col-form-label">Właściciel</label>
            <input type="text" 
                class="form-control ms-1" 
                style="width: 150px;"
                name="owner"
                [(ngModel)]="adminService.groupParams().owner"
            >
        </div>

        <div class="d-flex col-2">
            <button class="btn btn-dark" style="width: 70px;" type="submit">Filtruj</button>
            <button (click)="resetFilters()" class="btn btn-dark ms-1" style="width: 70px;" type="button">Reset</button>
        </div>

        <div class="f-flex col-12" style="height: 10px;"></div>

        <div class="d-flex col-2">
            <label class="col-form-label">Członkowie do:</label>
            <input type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="maxMembers"
                [(ngModel)]="adminService.groupParams().maxMembers"
            >
        </div>

        <div class="d-flex ms-2 col-3">
            <label class="col-form-label">Nazwa serwera</label>
            <input type="text" 
                class="form-control ms-1" 
                style="width: 150px;"
                name="serverName"
                [(ngModel)]="adminService.groupParams().serverName"
            >
        </div>

        <div class="d-flex col-4">
            <label class="col-form-label">Filtruj po:</label>
            <select name="orderBy"
                class="form-select ms-1" 
                style="width:150px"
                [(ngModel)]="adminService.groupParams().orderBy"
            >
            @for (orderBy of orderByList; track orderBy.value) {
                <option [value]="orderBy.value">{{orderBy.display}}</option>
            }
            </select>
        </div>
        <div class="d-flex col-2">
            <button class="btn btn-dark" style="width: 70px" type="button" routerLink="/admin/group/create">Dodaj</button>
            <button class="btn btn-dark ms-1"
                    style="width: 50px" 
                    type="button" 
                    (click)="addTimersForAll()"
                    tooltip="Dodaj timery"
            >
                <i class="fa-solid fa-plus"></i>
            </button>
            <button class="btn btn-dark ms-1"
                    style="width: 50px" 
                    type="button" 
                    (click)="deleteTimersForAll()"
                    tooltip="Usuń timery"
            >
                <i class="fa-solid fa-minus"></i>
            </button>
        </div>
  </form>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-2">Nazwa grupy</th>
        <th scope="col" class="col-2">Serwer</th>
        <th scope="col" class="col-2">Data utworzenia</th>
        <th scope="col" class="col-2">Liczba członków</th>
        <th scope="col" class="col-2">Właściciel</th>
        <th scope="col" class="col-2">Akcja</th>
      </tr>
    </thead>
    <tbody>
        @for (group of adminService.paginatedResultGroup()?.items; track group.id) {
            <tr>
                <td>{{group.groupName}}</td>
                <td>{{group.serverName}}</td>
                <td>{{group.createdAt.toString().substring(0,10)}}</td>
                <td>{{group.membersCount}}</td>
                <td>{{group.owner.knownAs}}</td>
                <td>
                    <button class="btn btn-danger btn-sm me-1" 
                            (click)="deleteGroup(group.id)"
                            tooltip="Usuń grupę"
                    >
                        <i class="fa-solid fa-trash fa-sm"></i>
                    </button>
                    <button class="btn btn-dark btn-sm me-1" 
                            (click)="addTimersForGroup(group.id)"
                            tooltip="Dodaj timery"
                    >
                        <i class="fa-solid fa-plus fa-sm"></i>
                    </button>
                    <button class="btn btn-dark btn-sm me-1" 
                            (click)="deleteTimersForGroup(group.id)"
                            tooltip="Usuń timery"
                    >
                        <i class="fa-solid fa-minus fa-sm"></i>
                    </button>
                    @if (accountService.roles().includes('Admin')) {
                        <button class="btn btn-dark btn-sm"
                                (click)="editGroup(group.id)"
                                tooltip="Edytuj grupę"
                        >
                            <i class="fa-solid fa-pen-to-square fa-sm"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
  </table>

  @if (adminService.paginatedResultGroup()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" 
                    [totalItems]="adminService.paginatedResultGroup()?.pagination!.totalItems"
                    [itemsPerPage]="adminService.paginatedResultGroup()?.pagination!.itemsPerPage"
                    (pageChanged)="pageChanged($event)"
                    [(ngModel)]="adminService.paginatedResultGroup()?.pagination!.currentPage"
                    [maxSize]="10"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"
                    class="my-pagination">
        </pagination>   
    </div>
}