<button class="btn btn-success" type="button" routerLink="/admin/group/create">Dodaj grupę</button>

<div class="container mt-3">
    <form #form="ngForm" (ngSubmit)="loadGroups()" class="d-flex mb-3">
        <div class="d-flex mx-2">
            <label class="col-form-label">Członkowie od:</label>
            <input type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="minMembers"
                [(ngModel)]="adminService.groupParams().minMembers"
            >
        </div>
  
        <div class="d-flex mx-2">
            <label class="col-form-label">Członkowie do:</label>
            <input type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="maxMembers"
                [(ngModel)]="adminService.groupParams().maxMembers"
            >
        </div>
  
        <div class="d-flex mx-2">
          <label class="col-form-label">Nazwa grupy</label>
          <input type="text" 
              class="form-control ms-1" 
              style="width: 70px;"
              name="groupName"
              [(ngModel)]="adminService.groupParams().groupName"
          >
        </div>
  
        <div class="d-flex mx-2">
          <label class="col-form-label">Nazwa serwera</label>
          <input type="text" 
              class="form-control ms-1" 
              style="width: 70px;"
              name="serverName"
              [(ngModel)]="adminService.groupParams().serverName"
          >
        </div>
  
        <div class="d-flex mx-2">
          <label class="col-form-label">Właściciel</label>
          <input type="text" 
              class="form-control ms-1" 
              style="width: 70px;"
              name="owner"
              [(ngModel)]="adminService.groupParams().owner"
          >
        </div>
  
        <div class="d-flex mx-2">
            <label class="col-form-label">Filtruj po:</label>
            <select name="orderBy"
                class="form-select ms-1" 
                style="width:130px"
                [(ngModel)]="adminService.groupParams().orderBy"
            >
            @for (orderBy of orderByList; track orderBy.value) {
                <option [value]="orderBy.value">{{orderBy.display}}</option>
            }
            </select>
        </div>
  
        <button class="btn btn-primary ms-1" type="submit">Filtruj</button>
        <button (click)="resetFilters()" class="btn btn-info ms-1" type="button">Reset</button>
  
    </form>
  </div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-5">Nazwa grupy</th>
        <th scope="col" class="col-2">Serwer</th>
        <th scope="col" class="col-2">Liczba członków</th>
        <th scope="col" class="col-2">Właściciel</th>
        <th scope="col" class="col-1">Akcja</th>
      </tr>
    </thead>
    <tbody>
        @for (group of adminService.paginatedResult()?.items; track group.id) {
            <tr>
                <td>{{group.groupName}}</td>
                <td>{{group.serverName}}</td>
                <td>{{group.membersCount}}</td>
                <td>{{group.owner.knownAs}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" 
                            (click)="deleteGroup(group.id)"
                    >
                        <i class="fa-solid fa-trash fa-sm"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
  </table>

  @if (adminService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" 
                    [totalItems]="adminService.paginatedResult()?.pagination!.totalItems"
                    [itemsPerPage]="adminService.paginatedResult()?.pagination!.itemsPerPage"
                    (pageChanged)="pageChanged($event)"
                    [(ngModel)]="adminService.paginatedResult()?.pagination!.currentPage"
                    [maxSize]="10"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
        </pagination>   
    </div>
}