<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="col-4">
    <form #registerForm="ngForm" (ngSubmit)="createGroup()" autocomplete="off">
        <h2 class="text-center text-dark">Stwórz grupę</h2>
        <hr>
        <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="groupName"
                [(ngModel)]="model.groupName"
                placeholder="Nazwa grupy"
            >
            <label>Nazwa grupy</label>
        </div>
        
        <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="serverName"
                [(ngModel)]="model.serverName"
                placeholder="Nazwa serwera"
            >
            <label>Nazwa serwera</label>
        </div>

        <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="owner"
                [(ngModel)]="model.owner"
                placeholder="Właściciel"
            >
            <label>Właściciel</label>
        </div>

        <div class="text-center">
            <button class="btn btn-dark me-2" type="submit">Stwórz</button>
        </div>
    </form>
    </div>
</div>