<div class="row">
    <div class="col-auto me-auto">
        <button class="btn btn-dark" type="button" routerLink="/admin/event/map-areas/create">Dodaj</button>
        <button class="btn btn-dark ms-1" type="button" (click)="deleteMapAreas()">Usuń wszystko</button>
    </div>
    <div class="col-auto ms-auto">
        <div class="btn-group" role="group">
            <button routerLink="/admin/event/heroes" type="button" class="btn btn-dark btn-sm">
                Herosi
            </button>
            <button routerLink="/admin/event/map-areas" type="button" class="btn btn-dark btn-sm" disabled>
                Okolice map
            </button>
            <button routerLink="/admin/event/maps" type="button" class="btn btn-dark btn-sm">
                Mapy
            </button>
        </div>

    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-10">Nazwa okolicy</th>
                <th scope="col" class="col-2">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @for (mapArea of adminService.mapAreas(); track mapArea.id) {
            <tr class="align-middle">
                <td>{{mapArea.name}}</td>
                <td>
                    <button class="btn btn-danger btn-sm me-1"
                            (click)="deleteMapArea(mapArea.id)"
                            tooltip="Usuń okolice map"
                    >
                        <i class="fa-solid fa-trash fa-sm"></i>
                    </button>

                    <button class="btn btn-dark btn-sm me-1"
                            (click)="editMapArea(mapArea.id)"
                            tooltip="Edytuj Okolice map"
                    >
                        <i class="fa-solid fa-pen-to-square fa-sm"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>