<div class="row">
    <div class="col-auto me-auto">
        <button class="btn btn-dark" type="button" routerLink="/admin/event/heroes/create">Dodaj</button>
    </div>
    <div class="col-auto ms-auto">
        <div class="btn-group" role="group">
            <button routerLink="/admin/event/heroes" type="button" class="btn btn-dark btn-sm" disabled>
                Herosi
            </button>
            <button routerLink="/admin/event/map-areas" type="button" class="btn btn-dark btn-sm">
                Okolice map
            </button>
            <button routerLink="/admin/event/maps" type="button" class="btn btn-dark btn-sm">
                Mapy
            </button>
        </div>

    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-6">Nazwa herosa</th>
                <th scope="col" class="col-4">Poziom</th>
                <th scope="col" class="col-2">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @for (hero of adminService.heroes(); track hero.id) {
            <tr class="align-middle">
                <td>{{hero.name}}</td>
                <td>{{hero.level}}</td>
                <td>
                    <button class="btn btn-danger btn-sm"
                            (click)="deleteHero(hero.id)"
                            tooltip="Usuń herosa"
                    >
                        <i class="fa-solid fa-trash fa-sm"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>